* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--window-backgroud);
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 0.4s linear forwards;
    animation: fadeinout 0.4s linear forwards;
}

@-webkit-keyframes fadeinout {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

:root {
    --window-backgroud: #1c2e35f9;
    --btn-border: black;
    --red-color: red;
    --btn-press-shadow: white;
    --btn-press-color: grey;
}

#level-title {
    color: #ffffff;
    /* -webkit-text-stroke:0.1px #8ffff0; */
    width: 80%;
    font-size: 3rem;
    margin: 40px auto;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

.container {
    display: block;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.btn {
    margin: 25px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid var(--btn-border);
    border-radius: 20%;
}

.game-over {
    background-color: var(--red-color);
    opacity: 0.8;
    color: red;
}

.pressed {
    box-shadow: 1px 2px 20px 10px white, 1px 2px 22px 10px #ffffffca;
    background-color: rgb(159, 159, 159);
}

#green {
    background-color: #2bff00;
}

#red {
    background-color: #f20101ed;
}

#yellow {
    background-color: #f2f200;
}

#blue {
    background-color: blue;
}

#rule {
    border: none;
    position: absolute;
    left: 20px;
    top: 160px;
    font-family: 'Press Start 2P', cursive;
    background-color: #f2f2f2;
    display: inline;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
}

#start {
    border: none;
    visibility: visible;
    position: absolute;
    left: 20px;
    top: 200px;
    font-family: 'Press Start 2P', cursive;
    background-color: green;
    color: white;
    display: inline;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
}

#rule:active {
    background-color: green;
    color: #f2f2f2;
}

#close {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: #f2f2f2;
    display: inline;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}

#close:active {
    background-color: red;
    color: white;
}

#hidden {
    display: none;
}

.bold {
    font-weight: 600;
    text-decoration: underline;
    padding: 1px;
    border-radius: 1px;
}

#rules-container {
    visibility: hidden;
    position: absolute;
    
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: left;
}

#rules-container li {
    display: inline;
}

#visible {
    max-width: 400px;
    visibility: visible;
    position: absolute;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: left;
    left: 15px;
    right: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    color: #f2f2f2;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    bottom: 30px;
    left: 30px;
}

/*Responsive*/
@media screen and (max-width:1125px) {
    .btn {
        margin: 10px;
        height: 220px;
        width: 220px;
    }

    .container {
        height: auto;
        display: block;
        width: 100%;
        margin: 100px auto;
    }
}

@media screen and (max-width:680px) {
    #level-title {
        font-size: 2rem;
        width: 100%;
        margin: 30px auto;
        line-height: 43px;
    }

    #start {
        left: 25px;
        top: 205px;
    }

    #start:active {
        background-color: lightgreen;
        color: black;
    }

    .container {
        height: auto;
        display: block;
        width: 100%;
        margin: 140px auto;
    }

    #rule {
        left: 25px;
        top: 160px;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
    }

    .btn {
        margin: 5px;
        display: inline-block;
        height: 200px;
        width: 200px;
        border: 10px solid black;
        border-radius: 20%;
    }
    #visible {
        max-width: 500px;
        visibility: visible;
        position: absolute;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        margin-top: 100px;
        text-align: left;
        left: 15px;
        right: 15px;
    }
}
